// COLORS

$color-white:#ffffff;

$color-background-violet:#733fc8;
$color-background-gray:#48556a;
$color-background-black:#19202d;

$color-font-dark:#48556a;
$color-font-light:#ecf2f8;

$color-border-image:#a775f1;